.App {
  text-align: center;
  background-size: cover; /* Hace que la imagen ocupe todo el fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-attachment: fixed; /* Hace que la imagen sea estática */
  background-position: center; /* Centra la imagen */
  overflow: hidden; /* Evita barras de desplazamiento inesperadas */
  z-index: 5000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  backdrop-filter: blur(8px); /* Efecto blur */
  -webkit-backdrop-filter: blur(8px);
  display: flex; /* Permite usar propiedades flexbox */
  flex-direction: column; /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

.row {
  width: 100%; /* Opcional: asegura que las filas ocupen todo el ancho */
}