.custom-table {
    width: 100%; /* Extiende la tabla para llenar el contenedor */
    background-color: rgba(255, 255, 255, 0.85); /* Fondo translúcido */
    border-radius: 20px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que el contenido no sobresalga */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Sombra suave */
    border-collapse: separate; /* Separa las celdas para respetar los bordes redondeados */
    border-spacing: 0; /* Elimina el espacio entre celdas */
  }
  
  .table-container {
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 -4px -6px rgba(0, 0, 0, 0.5);
  }
  
  .table-header {
    background-color: #f8f9fa;
    text-transform: uppercase;
    font-weight: bold;
  }

  .loading-gif {
    width: 200px;
    height: auto;
  }